<%- include("partials/head", { title: 'Artisti', js: [ { file: 'pages/artisti.js' } ] }) %> 
<%- include("partials/nav") %> 

<%- include('components/cover', { title: 'Artisti', 
                                  img: { src: 'assets/img/slider/sec_2.jpg', contrast: true } }) %>

<div class="card-cont card-cont--Hborders card-cont--VMargin">

    <%- include("components/artistCard") %> 

</div>

<%- include("partials/footer") %> 

