<%- include("partials/head", { title: 'Artista', js: [ {file: 'populateSongs.js'} ]}) %> 
<%- include("partials/nav") %> 

<%- include("components/cover", { artista: { nome: 'dasda', img: '/assets/img/slider/sec_2.jpg' },
                                  img: { src:'/assets/img/slider/sec_1.jpg', contrast:true } }) %> 

<div class="container">    

    <%- include('components/album') %>

    <%- include('components/song') %>
        
</div>

<%- include("partials/footer") %>
