<%- include("partials/head", { title: 'Artista', js: [ {file: 'populateSongs.js'} ]}) %> 
<%- include("partials/nav") %> 

<%- include("components/cover", { artista: { nome: '', img: '#' },
                                  img: { src:'#', contrast:true } }) %> 

<div class="container">    

    <%- include('components/album') %>

    <%- include('components/song') %>
        
</div>

<%- include("partials/footer") %>
