<%- include("partials/head", { title: 'Artista', js: [ {file: 'populateSongs.js'} ]}) %> 
<%- include("partials/nav") %> 

<%- include("components/cover", { artista: { nome: '', img: '#' },
                                img: { src:'#', contrast:true } }) %> 

<div class="container container--LMarginV" field="mediaContainer">    

    <%- include('components/album', { visible: false }) %>

    <%- include('components/song', { visible: false }) %>
        
</div>

<%- include("partials/footer") %>
