<%- include("partials/head", { title: 'Trackstry', js: [ { file: 'pages/index.js', module: false } ] }) %> 
<%- include('partials/nav')%>

<div id="cover">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);z-index: 98;">
        <h1 id="title_index">Trackstry</h1>   
        <h3 style="text-align: center;" id="subtitle_index">Dai vita alla tua musica</h3>   
    </div>

    <img src="../assets/Img/home/bg_home.jpg" style="width: 100%;height: 100%;filter: blur(6px); transform: scale(1.1);" >
</div>

<%- include('components/imageSection', {title: 'La tua musica', 
                                        text: `Con Trackstry potrai caricare tutta la musica che <br> 
                                               crei per far spere a gli altri chi sei veramente attraverso<br>
                                               la tua musica cosa aspetti inizia a caricare le tue canzioni.`, 
                                        btn: { text: 'Clicca qui' }, 
                                        img: 'home/sec_1.jpg', 
                                        float: 'left'}) %>

<%- include('components/imageSection', {title: 'Artisti', 
                                        text: `Trackstry è una comunity perciò perché non vai a vedere <br> 
                                               cosa gli altri artisti hanno da offrire scoprendo novi generi<br>
                                               che più si addicono a te e alla tua personalità.`, 
                                        btn: { text: 'Clicca qui' }, 
                                        img: 'home/sec_2.jpg', 
                                        float: 'right'}) %>

<%- include('components/imageSection', {title: 'Iscriviti', 
                                        text: `Ora che hai visto le potenzialità di Trackstry cosa aspetti<br> 
                                               ad unirti, iscriviti e dai inizio alla festa con la tua creatività.<br>
                                               Clicca sul bottone per Iscriverti.`, 
                                        btn: { text: 'Clicca qui' }, 
                                        img: 'home/sec_3.jpg', 
                                        float: 'left'}) %>

<%- include('components/slider') %>

<%- include('partials/footer') %>