<%- include("partials/head", { title: 'Login', js: [ { file: 'pages/login.js' } ] }) %> 
<%- include('partials/nav') %>

<div id="container_log">
    <form action="#" class="form" style="height:55%;padding: 40px;" method="POST">
        <img src="../assets/Img/Logo.png" class="img_log">

        <%- include('components/inputText', { name: 'username', label: 'Username' }) %>
        <%- include('components/inputText', { name: 'password', label: 'Password', type: 'password' }) %>

        <input type="submit"  style="margin: auto; margin-top: 100px;width: 220px;min-width: 100px;" class="button">
        <h5 class="err"></h5>
    </form>
</div>

<%- include('partials/footer') %>