<%- include("partials/head", { title: 'Login', js: [ { file: 'pages/login.js' } ] }) %> 
<%- include('partials/nav', { bgGradient: true, hidden: true}) %>

<form action="#" class="form container" method="POST">
    <img src="../assets/img/Logo.png" class="from__logo">

    <%- include('components/inputText', { name: 'email', label: 'E-mail' }) %>
    <%- include('components/inputText', { name: 'password', label: 'Password', type: 'password' }) %>

    <input type="submit" value="Login" class="form__btn button">
    <h5 class="form__err err"></h5>
</form>

<%- include('partials/footer') %>