<%- include("partials/head", { title: 'Preferiti', js: [ { file: 'pages/preferiti.js' } ] }) %> 
<%- include("partials/nav") %>  

<%- include("components/cover", { artista: { img: '/assets/img/preferiti/preferiti.png', center: true },
                                  img: { src:'/assets/img/slider/sec_1.jpg', contrast:true } }) %> 


<div class="continer  container--LMarginV">
    <%- include('components/album', { trackNumber: false, visible: true, img: false, title: 'Canzoni preferite'}) %>
</div>

<%- include('partials/footer') %>