<%- include("partials/head", { title: 'Profile', js: [ { file: 'pages/preferiti.js' } ] }) %> 
<%- include("partials/nav") %>

<div class="profile container">
    <div class="profile__card container--Lgap container container--row">
        <div class="pivot">
            <img class="profile__card__img img" src="/assets/img/slider/sec_1.jpg" field="profileImg">
            <div class="img-filter container">cambia img</div>
        </div>
        <div class="container container--nogap container--noValign">
            <span>Username</span>
            <h2 class="profile__card__value" field="username">dsadad</h2>
            <span>E-mail</span>
            <h2 class="profile__card__value" field="email">dsadad</h2>
            <span>Password</span>
            <h2 class="profile__card__value">* * * * * * * * * * *</h2>
        </div>
    </div>

    <div class="container container--Sgap full-screen-section">
        <h1>Banner</h1>
        <div class="pivot">
            <img class="profile__banner img" src="/assets/img/slider/sec_1.jpg" field="profileBanner">
            <div class="img-filter container">cambia banner</div>
        </div>
    </div>

    <div class="container full-screen-section">
        <h1>Cambia dati</h1>
        <form method="POST" action="" id="change_form" class="full-screen-section container container--noValign">
            <%- include('components/inputText', { name: 'newEmail', label: 'Nuova E-mail' }) %>
            <%- include('components/inputText', { name: 'newUsername', label: 'Nuovo Username' }) %>
            <%- include('components/inputText', { name: 'newPassword', label: 'Nuova Password' }) %>
            <button type="button" class="button button--fit-cont">Cambia</button>
        </form>
    </div>
</div>

<%- include("partials/footer") %> 
