<%- include("partials/head", { title: 'Upload album', js: [ { file: 'fakeUpload.js' }, { file: 'pages/uploadAlbum.js' } ] }) %> 
<%- include("partials/nav") %>

<div class="container container--LMarginV">
    <div class="album container container--nogap">
        <div class="album__heading container container--row" id="header_album">
            <div class="pivot" fakeUpload="albumImg">
                <img class="album__img img" preview="albumImg">
                <h3 class="abs-center" clear="albumImg">
                    Inserisci immagine
                </h3>
            </div>
            <input field="albumImg" realUpload="albumImg" type="file" class="upload" accept="image/*" required>
    
            <%- include("components/inputText", { name: 'albumTitle', label: 'Titolo album'}) %> 
    
        </div>
    
        <hr class="line">
    
        <ul class="album__song-list container container--nogap">
            <li class="album__song container container--row container--noHalign hidden">
                <span field="trackNum">0</span>
                <%- include("components/inputText", { name: 'songTitle', label: 'Titolo canzone'}) %> 
                <img src="../assets/img/upload_icon.png" class="icon" fakeUpload="songFile">
                <input type="file" realUpload="songFile" accept="audio/*" field="songFile" required>
                <h5 fileName="songFile"></h5>
    
                <div class="controls">
                    <span class="remove-btn icon" role="rmAlbumSong"><hr class="remove-line"></span>
                </div>
            </li>
    
            <li class="album__song container container--row container--noHalign ">
                <span field="trackNum">1</span>
                <%- include("components/inputText", { name: 'songTitle', label: 'Titolo canzone'}) %> 
                <img src="../assets/img/upload_icon.png" class="icon" fakeUpload="songFile1">
                <input type="file" realUpload="songFile1" accept="audio/*" field="songFile" required>
                <h5 fileName="songFile1"></h5>
    
                <div class="controls">
                    <span class="remove-btn icon" role="rmAlbumSong"><hr class="remove-line"></span>
                </div>
            </li>
    
            <button class="add-btn" role="addAlbumSong">
                <span class="add-btn__cross">+</span>
                <h3>Aggiungi canzone</h3>
            </button>    
        </ul>
    
    
        <button class="button" action="submitAlbum">Crea</button>
    </div>
</div>


<%- include('partials/footer') %>