<%- include("partials/head", { title: 'La tua musica', js: [ { file: 'populateSongs.js' } ] }) %> 
<%- include("partials/nav") %> 

<%- include("components/cover", { artista: { nome: 'dasda', img: '/assets/img/slider/sec_2.jpg' },
                                  img: { src:'/assets/img/slider/sec_1.jpg', contrast:true } }) %> 

<div class="container container--row container--Sgap container--end container--SMarginV container--SMarginH">
    <button class="add-btn">
        <span class="add-btn__cross">+</span>
        <h3>aggiungi canzone</h3>
    </button>
    <button class="add-btn">
        <span class="add-btn__cross">+</span>
        <h3>aggiungi album</h3>
    </button>
</div>

<div class="container">
    
    <%- include('components/album', { edit: true }) %>

    <%- include('components/song', { edit: true }) %>

</div>

<%- include("partials/footer") %>