<%- include("partials/head", { title: 'La tua musica', js: [ { file: 'populateSongs.js' } ] }) %> 
<%- include("partials/nav") %> 

<div id="cover_artista">
    <div style="width: 100%;height: 100%;overflow: hidden;">
        <img src="#" class="img_cover">
    </div>
    <div style="display: flex;">
        <img src="#" id="img_artista">
        <h1 id="name_artista" class="shadow_text"></h1>
    </div>
</div>

<div id="button_select">
    <button class="addSong" id="addAlbum">
        <span class="cross_add">+</span>
        <h3>aggiungi album</h3>
    </button>
    <button class="addSong" id="addSong">
        <span class="cross_add">+</span>
        <h3>aggiungi canzone</h3>
    </button>
</div>

<div class="song_container">
    
    <%- include('components/album', { edit: true }) %>

    <%- include('components/song', { edit: true }) %>
</div>

<%- include("partials/footer") %>