<div class="img-sec container container--row container--nogap">
    <% if(float === 'left') { %>
        <div class="img-sec__sec">
            <img src="../assets/img/<%= img %>" class="img-sec__img">
        </div>
    <% } %>
    <div class="img-sec__sec container">
        <div class="img-sec__text container container--nogap container--noValign">
            <h1><%= title %></h1>
            <p>
                <%= text %>
            </p>
        </div>
        <button class="button" <%= typeof btn.redirect !== undefined || btn.redirect ? 'redirect=' + btn.redirect : '' %>>
            <%= btn.text %>
        </button>
    </div>
    <% if(float === 'right') { %>
        <div class="img-sec__sec">
            <img src="../assets/img/<%= img %>" class="img-sec__img">
        </div>
    <% } %>
</div>